<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exploSp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,438},{42,42}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{42,42}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,84}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{90,84}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{100,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{98,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{98,92}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{84,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{84,80}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{76,74}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{76,74}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{58,56}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{58,56}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>exploSp8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,362},{38,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,53},{38,38}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eplode1png.png</string>
            <key>size</key>
            <string>{120,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dd7648b74fea79fe1adc202e36f52ae:e66fd23187c95ee277e7b4773822ebf5:fcefcf20ed59e571cad21f84c8e59ffd$</string>
            <key>textureFileName</key>
            <string>eplode1png.png</string>
        </dict>
    </dict>
</plist>
