<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ship1_100x160.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,160}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>Ship2_100x160.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{82,158}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,158}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>Ship3_100x160.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{74,158}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{74,158}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShipTexture.png</string>
            <key>size</key>
            <string>{86,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e40a2305759ac47dc8329f38462fe621:75cb735729e7ad1cdb25ea5b66075463:2a9f91e7aa775215c11bb3d561f9e2c9$</string>
            <key>textureFileName</key>
            <string>ShipTexture.png</string>
        </dict>
    </dict>
</plist>
